<body class="choice" >
<h1>Choose from the menu below.....</h1>
<a class="homeButton" href="/">Home</a>
  <form class="indecisiveForm" method="POST">
  <input type="text" name="name" placeholder="Name">
  <br>
  <select name="Name">
    <option value="">Favourite bird</option>
    {{#each result}}
      <option  value="{{id}}">{{bird}}</option>
    {{/each}}
  </select>
  <br>
  <select name="bird">
    <option value="">Favourite Character</option>
    {{#each result}}
      <option value="{{id}}">{{character}}</option>
    {{/each}}
  </select>
  <br>
  <select name="Name">
    <option value="">Favourite Country</option>
    {{#each result}}
      <option value="{{id}}">{{country}}</option>
    {{/each}}
  </select>
  <br>
   <select name="Name">
    <option value="">Superpower</option>
    {{#each result}}
      <option value="{{id}}">{{superpower}}</option>
    {{/each}}
  </select>
  <br>
  <input type="submit">
</form>
 
</body>