<h1>Make your choice<h1>

  <form class="indecisiveForm" method="POST">
  <input type="text" name="name" placeholder="Name">
  <br>
  <select name="fav_birds">
    <option value="">Favourite bird</option>
    {{#each object.birds}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <br>
  <select name="fav_character">
    <option value="fav_character">Favourite Character</option>
    {{#each object.character}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <br>
  <select name="fav_country">
    <option value="">Favourite Country</option>
    {{#each object.countries}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <br>
   <select name="superpower">
    <option value="">Superpower</option>
    {{#each object.superpower}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  <br>
  <input type="submit">
</form>
 <a class="button" href="/">Home</a>
